:root {
  --space-cade: #2b2d42;
  --manatee: #8d99ae;
  --alice-blue: #edf2f4;
  --imperial-red: #ef233c;
  --amaranth-red: #d90429;
}
* {
  margin: 0;
}

/* // Section One */
.login {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.img-chef {
  width: 100%;
}
.chef {
  width: 90%;
}
#title{
  margin: 2.5rem 0 1rem 0;
  font-size: 2.2rem;
}
.form-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
}
.regístrate {
  margin: 1rem 0 1rem 0;
}
.email {
  margin: 1rem 0 1rem 0;
}
.button-login {
  background: var(--amaranth-red);
  border: none;
  width: 40%;
  height: 1.5rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#profile{
  text-decoration: none;
  color: var(--alice-blue);
}
.social-media {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.face {
  width: 30%;
  display: flex;
  text-align: right;
}
.url-face {
  width: 25%;
}
.gmail {
  width: 35%;
  display: flex;
  text-align: left;
}
.url-gmail {
  width: 25%;
}

@media only screen and (min-width: 768px) {
  .login {
    flex-direction: row;
  }
}

/* Section Two */
.titleContainer {
  background-color: var(--space-cade);
  height: 3rem;
  width: 100%;
}
h1 {
  color: var(--space-cade);
  text-align: center;
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.profilePhoto > img {
  width: 7rem;
}
.name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.postContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createPostContainer {
  background-color: var(--manatee);
  width: 20rem;
  height: 10rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.textToCreate {
  background-color: var(--alice-blue);
  width: 87%;
  height: 54%;
  border-radius: 0.7rem;
}
.btnToCreate {
  display: flex;
  margin-top: 0.7rem;
  justify-content: space-between;
}
.btnPicture,
.btnShare {
  background-color: var(--amaranth-red);
  color: var(--alice-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnPicture {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
}
.btnShare {
  width: 5rem;
}
.posted {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.postedOneTitle {
  background-color: var(--amaranth-red);
  height: 3rem;
  width: 18.7rem;
  text-align: left;
  padding: 14px 5px 0 17px;
}
.postedText {
  background-color: var(--imperial-red);
  height: 3rem;
  width: 20rem;
}
.postedBtns {
  background-color: var(--manatee);
  height: 3rem;
  width: 20rem;
  display: flex;
  flex-direction: row;
}
.likePosted,
.sharePosted {
  width: 5rem;
  height: 3rem;
}
